# This is a basic workflow to help you get started with Actions
name: Pre-release

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  pre_release:
    name: Bleeding-Edge
    runs-on: ${{ matrix.config.os }}
    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix: 
        config:
        - {
          os: windows-latest,
          artifact: "LabTools-Win.exe",
          cc: "x86_64-w64-mingw32-gcc",
          cxx: "x86_64-w64-mingw32-g++",
          binpath: "Release/LabTools.exe",
          build_type: "Release",
          archiver: "7z a",
        }
        - {
          os: ubuntu-latest,
          artifact: "LabTools-Ubuntu",
          cc: "gcc",
          cxx: "g++",
          binpath: "LabTools",
          build_type: "Release",
          archiver: "7z a",
        }
        - {
          os: macos-latest,
          artifact: "LabTools-MacOS",
          cc: "clang",
          cxx: "clang++",
          binpath: "LabTools",
          build_type: "Release",
          archiver: "7za a",
        }

    steps:
      - uses: actions/checkout@v2        
      
      - name: Print env
        run: |
          echo github.event.action: ${{ github.event.action }}
          echo github.event_name: ${{ github.event_name }}

      - name: Confiure
        run: |
            cmake -E make_directory build

      - name: Build
        working-directory: build
        run: |
            cmake .. CMAKE_C_COMPILER=${{ matrix.config.cc }} -D CMAKE_CXX_COMPILER=${{ matrix.config.cxx }}
            cmake --build . --config Release

            mv -v ${{ matrix.config.binpath }} ../${{ matrix.config.artifact }}

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          path: |
              res
              ${{ matrix.config.artifact }}
          name: ${{ matrix.config.artifact }}