# This is a basic workflow to help you get started with Actions
name: Pre-release

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: ${{matrix.config.name}}
    runs-on: ${{ matrix.config.os }}
    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix: 
        config:
        - {
          name: "Ubuntu",
          os: ubuntu-latest,
          artifact: "LabTools-Ubuntu.tar.gz",
          cc: "gcc",
          cxx: "g++",
          build_type: "Release",
          archiver: "7z a",
        }
        - {
          name: "Mac",
          os: macos-latest,
          artifact: "LabTools-MacOS.zip",
          cc: "clang",
          cxx: "clang++",
          build_type: "Release",
          archiver: "7za a",
        }

    steps:
      - uses: actions/checkout@v2        

      - name: Configure
        run: |
            cmake -E make_directory build
            cmake -E make_directory instdir

      - name: Build
        working-directory: build
        run: |
            cmake -D CMAKE_CXX_COMPILER=${{ matrix.config.cxx }} CMAKE_C_COMPILER=${{ matrix.config.cc }} .. 
            cmake --build . --config ${{ matrix.config.build_type }}
        
      - name: Install
        working-directory: build
        run: |
            cmake --install . --prefix ..
            
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          path: |
              instdir/${{ matrix.config.artifact }}
          name: ${{ matrix.config.artifact }}
  prerelease:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}

    steps:
      - name: Declare git vars
        id: vars
        run: |
          echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"


      - name: Download artifacts
        uses: actions/download-artifact@v2

      - name: Update GitHub prerelease
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: "LabTools-LatestDev"
          files: | 
            "**/LabTools-*.zip"
            "**/LabTools-*.tar.gz"



        
      