name: Release Build

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  release_web:
    name: Web Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Create Build Directory
        run: cmake -E make_directory ${{github.workspace}}/build
        
      - name: Build
        run: |
          cd build
          cmake ..
          make
          
